---
const { id, name, type = "text", label, description, required } = Astro.props;
---

<label for={id} class="flex flex-col">
  <div class="text-base font-bold tracking-[0.25em] text-white">{label}</div>
  {
    description && (
      <div class="mt-2 text-xs tracking-[0.25em] text-white">{description}</div>
    )
  }
  <input
    required={required}
    name={name}
    id={id}
    type={type}
    class="text-custom-green bg-white border-custom-green placeholder-custom-green focus:border-custom-green focus:ring-custom-green mt-4 w-full rounded-lg border-2 px-3 py-2 text-lg font-bold shadow-sm focus:ring-2 focus:outline-hidden focus:[&:user-invalid]:border-2 focus:[&:user-invalid]:border-pink-500 focus:[&:user-invalid]:text-pink-600 focus:[&:user-invalid]:ring-pink-500"
  />
</label>
