---
import Layout from "../layouts/Layout.astro";
import Title from "../components/title/Title.astro";
import Button from "../components/button/Button.astro";
import Gift from "../components/gift/Gift.astro";
import { db, Stock } from "astro:db";
import { PREZOLA_LINK } from "../utilities/consts";

const products = await db.select().from(Stock);
---

<Layout title="George & Izzy's Wedding 2025">
  <div class="font-montserrat mt-16 flex flex-col items-center px-8 md:mt-24">
    <Title text="gifts" />
    <div class="max-w-4xl text-center text-white">
      <p>
        Your presence at our wedding is more than enough, but if you'd like to
        give something, we’ve put together a gift registry with a selection of
        honeymoon experiences and a couple of memorable items below.
      </p>
      <p class="mt-4">
        We've also included the option to contribute any amount of your choosing
        to our honeymoon fund for our trip to <strong>Namibia</strong>. We’re so
        grateful to have you celebrating with us!
      </p>
    </div>
    <form
      id="donationForm"
      class="w-full max-w-3xl"
      method="POST"
      action="/api/donation"
    >
      <div class="flex w-full flex-col">
        <p
          class="mt-16 mb-8 text-center text-xl font-bold tracking-[0.25em] text-white uppercase"
        >
          HONEYMOON FUND
        </p>

        <div class="mt-8 flex w-full justify-center">
          <Button
            id="submitButton"
            type="submit"
            text="CONTRIBUTE"
            href={PREZOLA_LINK}
            isRedirect
          />
        </div>
      </div>
    </form>

    <div
      class="my-12 text-center font-bold tracking-[0.25em] text-white uppercase"
    >
      OR
    </div>

    <div class="flex flex-wrap justify-around gap-6">
      {
        !products.length && (
          <svg
            class="size-16 animate-spin text-white"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            />
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
            />
          </svg>
        )
      }
      {
        products?.map((product) => (
          <Gift
            formName={product.name}
            title={product.title}
            image={product.image}
            priceId={product.price_id}
            amount={product.price}
            count={product.count}
          >
            <div>
              <p class="mb-4">{product.description1}</p>
              <p>{product.description2}</p>
            </div>
          </Gift>
        ))
      }
    </div>
  </div>
</Layout>

<script>
  function resizeInput() {
    const input = document.getElementById("donation") as HTMLInputElement;
    if (input) {
      input.style.width = Math.max(input.value.length, 2) + "ch";
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const input = document.getElementById("donation") as HTMLInputElement;
    if (input) {
      input.addEventListener("input", resizeInput);
      resizeInput(); // Initialize width
    }

    const photos = document.querySelectorAll(".photo");
    photos.forEach((photo) => {
      const description = photo.querySelector(".description");
      photo.addEventListener("click", () => {
        description?.classList.toggle("opacity-0");
        description?.classList.toggle("opacity-85");
      });
    });
  });

  const form = document.getElementById("donationForm") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const res = await fetch("/api/donation", {
      method: "POST",
      body: formData,
    });
    const data = await res.json();

    if (data.url) {
      window.location.href = data.url;
    } else {
      alert("Error: " + data.error);
    }
  });

  document.body.addEventListener("submit", async (e) => {
    const target = e.target as HTMLElement;

    if (target && target.matches("form[data-name]")) {
      e.preventDefault();
      const form = target as HTMLFormElement;
      const formData = new FormData(form);

      const res = await fetch("/api/gift", {
        method: "POST",
        body: formData,
      });

      const data = await res.json();

      if (data.url) {
        window.location.href = data.url;
      } else {
        alert("Error: " + data.error);
      }
    }
  });
</script>
