---
import Layout from "../layouts/Layout.astro";
import Title from "../components/title/Title.astro";
import Button from "../components/button/Button.astro";
import Gift from "../components/gift/Gift.astro";
import { PRICES } from "../utilities/stripe";
---

<Layout title="George & Izzy's Wedding 2025">
  <div class="font-montserrat mt-16 flex flex-col items-center px-8 md:mt-24">
    <Title text="gifts" />
    <p class="max-w-4xl text-center text-white">
      Your presence is more than enough, but if you would like to get a gift
      we’re accepting cash donations towards our honeymoon below!
    </p>
    <form
      id="donationForm"
      class="w-full max-w-3xl"
      method="POST"
      action="/api/donation"
    >
      <div class="flex w-full flex-col">
        <div class="mt-16 mb-8 inline-flex items-end justify-center rounded-sm">
          <div
            class="font-balmy text-custom-green flex h-full items-end pr-1 pb-2 text-6xl"
          >
            £
          </div>
          <input
            id="donation"
            class="font-balmy min-h-fit w-[2ch] min-w-[2ch] border-b-2 border-white bg-transparent text-8xl/6 text-white outline-hidden invalid:border-pink-500"
            name="donation"
            required
            type="number"
            value="50"
            min="10"
          />
        </div>

        <div class="mt-8 flex w-full justify-center">
          <Button id="submitButton" type="submit" text="DONATE" />
        </div>
      </div>
    </form>

    <div
      class="my-12 text-center font-bold tracking-[0.25em] text-white uppercase"
    >
      OR
    </div>

    <div class="flex flex-wrap justify-around gap-6">
      <Gift
        formName="etosha"
        title="1 day safari in etosha national park"
        image="etosha_iyuj7m"
        priceId={PRICES.etosha}
        amount="100"
      >
        <div>
          <p class="mb-4">
            An unforgettable safari experience in Namibia’s most famous national
            park.
          </p>
          <p>
            This gift offers the chance to spot incredible wildlife, from
            elephants and lions to rhinos and giraffes, while exploring Etosha’s
            vast landscapes.
          </p>
        </div>
      </Gift>

      <Gift
        formName="drinks"
        title="honeymoon departure drinks"
        image="champagne_snftuo"
        priceId={PRICES.drinks}
        amount="25"
      >
        <div>
          <p class="mb-4">
            A perfect way to celebrate the start of a honeymoon.
          </p>
          <p>
            Whether enjoyed at the airport lounge or at the first destination,
            this gift provides a toast to new adventures together.
          </p>
        </div>
      </Gift>

      <Gift
        formName="photoAlbum"
        title="custom embroidered wedding photo album"
        image="wedding_photo_album_hehtpa"
        priceId={PRICES.photoAlbum}
        amount="250"
      >
        <div>
          <p class="mb-4">
            A beautiful hand-crafted personal photo album designed to preserve
            wedding memories for years to come.
          </p>
          <p>
            Featuring custom embroidery, this keepsake is perfect for holding
            treasured photographs from the big day.
          </p>
        </div>
      </Gift>

      <Gift
        formName="bingo"
        title="mr bingo don’t forget to have fun art"
        image="have_fun_plf5lc"
        priceId={PRICES.bingo}
        amount="90"
      >
        <div>
          <p class="mb-4">
            Mr Bingo is a London-based artist known for his irreverent & dark
            humour.
          </p>
          <p>
            We are big fans of his work & have some pieces already - this one
            feels like a fitting advice-inspired piece to add to the collection.
          </p>
        </div>
      </Gift>

      <Gift
        formName="wineTasting"
        title="wine tasting tour in the omaruru region"
        description="An opportunity to discover Namibia’s growing wine scene. This experience includes tastings of locally produced wines, paired with stunning vineyard views and warm hospitality."
        image="wine_tasting_jc5gav"
        priceId={PRICES.wineTasting}
        amount="75"
      >
        <div>
          <p class="mb-4">
            An opportunity to discover Namibia’s growing wine scene.
          </p>
          <p>
            This experience includes tastings of locally produced wines, paired
            with stunning vineyard views and warm hospitality.
          </p>
        </div>
      </Gift>

      <Gift
        formName="fourXFour"
        title="sandwich harbour 4x4 tour"
        image="145_fmcd5b"
        priceId={PRICES.fourXFour}
        amount="100"
      >
        <div>
          <p class="mb-4">
            A thrilling off-road adventure through Namibia’s iconic coastal
            dunes.
          </p>
          <p>
            This experience includes breathtaking scenery where the desert meets
            the ocean, with opportunities to spot wildlife along the way.
          </p>
        </div>
      </Gift>

      <Gift
        formName="sossusvlei"
        title="sossusvlei sundowners"
        image="sossusvlei-dune_enyccr"
        priceId={PRICES.sossusvlei}
        amount="25"
      >
        <div>
          <p class="mb-4"></p>
        </div>
      </Gift>

      <Gift
        formName="kebi"
        title="1 night stay kebi lodge"
        image="kebi_lodge_tkwhm0"
        priceId={PRICES.kebi}
        amount="100"
      >
        <div>
          <p class="mb-4">
            A rejuvenating spa experience set against the stunning Namibian
            wilderness.
          </p>
          <p>
            This gift offers the chance to unwind with a soothing treatment,
            combining natural ingredients and expert care for the ultimate
            relaxation.
          </p>
        </div>
      </Gift>

      <Gift
        formName="weinburg"
        title="fine dining at am weinburg restaurant"
        image="weinburg_rgamjp"
        priceId={PRICES.weinburg}
        amount="75"
      >
        <div>
          <p class="mb-4">
            A sophisticated dining experience at one of Namibia’s most elegant
            restaurants.
          </p>
          <p>
            Set within a beautifully restored wine estate, Am Weinberg offers
            expertly crafted dishes, fine wines, and a refined atmosphere for an
            indulgent culinary treat.
          </p>
        </div>
      </Gift>
    </div>
  </div>
</Layout>

<script>
  function resizeInput() {
    const input = document.getElementById("donation") as HTMLInputElement;
    if (input) {
      input.style.width = Math.max(input.value.length, 2) + "ch";
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const input = document.getElementById("donation");
    if (input) {
      input.addEventListener("input", resizeInput);
      resizeInput(); // Initialize width
    }

    const photos = document.querySelectorAll(".photo");
    photos.forEach((photo) => {
      const description = photo.querySelector(".description");
      photo.addEventListener("click", () => {
        description?.classList.toggle("opacity-0");
        description?.classList.toggle("opacity-100");
      });
    });
  });

  const form = document.getElementById("donationForm") as HTMLFormElement;
  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formData = new FormData(form);

    const res = await fetch("/api/donation", {
      method: "POST",
      body: formData,
    });
    const data = await res.json();

    if (data.url) {
      window.location.href = data.url;
    } else {
      alert("Error: " + data.error);
    }
  });

  window.addEventListener("pageshow", (event) => {
    if (event.persisted) {
      window.location.reload();
    }
  });
</script>
