---
import Image from "../image/Image.astro";

const {
  src,
  text,
  isVideo,
  width,
  height,
  imgClassNames = "",
  transformation,
} = Astro.props;
---

<div
  class="flex w-full max-w-xl flex-col items-center justify-center shadow-2xl md:max-w-4xl"
>
  {
    isVideo ? (
      <video
        autoplay
        loop
        muted
        preload="auto"
        playsinline
        class={`w-full border-4 border-white grayscale filter md:border-8 ${
          text ? "border-b-0" : ""
        }`}
      >
        <source src={src} type="video/mp4" />
      </video>
    ) : (
      <Image
        classes={`w-full border-8 border-white ${text ? "border-b-0" : ""} ${imgClassNames}`}
        src={src}
        width={width}
        height={height}
        transformation={transformation}
      />
    )
  }
  {
    text && (
      <div
        class={`font-balmy flex w-full items-center justify-center bg-white py-6 text-2xl ${
          text ? "h-8" : ""
        }`}
      >
        {text}
      </div>
    )
  }
</div>
